.form {

    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 850px;
}

.header {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    color: #555;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    background-color: beige;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}
.body_header{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 20px;
    margin: 20px 0 40px;
}
.body_content_session_girl , .body_content_session_boy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}


.btn{
    display: block;
    background-color: red !important;
    padding: 20px;
    border: none !important;
    color: white !important;
}

.newPrice{
    display: inline-block;
    width: 30%;
}
    

.oldPrice{
    text-decoration: line-through;
    display: inline-block;
}
.card-img-top{
    width: 100%;
    height: 400px;
    object-fit: cover;
}